body{
	font-family: 'Graduate', cursive;
	background-color: #E5E7E9;
}
#header {
	color: #FFFFFF;
	background: #2980B9;
	/*padding: 1em;*/
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#searchBar{
	position: relative;
	padding: 6px;
	border: none;
	margin-top: 8px;
	font-size: 17px;
	width: 85%;
	max-width: 90%;
}

#searchButton{
	background-color: #C0392B;
	font-family: 'Graduate', cursive;
	position: relative;
	border: none;
	width: 10%;
	color: white;
	padding: 6px 15px;
	text-align: center;
	font-size: 16px;
}
